<br>

<h1><%= @bulk_discount.name %></h1>
<p>Percentage Discount <%= @bulk_discount.percent_discount %></p>
<p>Minimum Purchase Requirement <%= @bulk_discount.min_purchase %></p>
<br>
<br>

  <%= link_to "Edit Discount", "/merchant/bulk_discounts/#{@bulk_discount.id}/edit" %>
<br>
  <%= link_to "Delete Discount", "/merchant/bulk_discounts/#{@bulk_discount.id}", method: :delete %>
<br>
<br>
<%= button_to "Activate", "/merchant/bulk_discounts/#{@bulk_discount.id}?new_status=true", method: :patch if @bulk_discount.active == false %>
<%= button_to "Deactivate", "/merchant/bulk_discounts/#{@bulk_discount.id}?new_status=false", method: :patch if @bulk_discount.active == true %>
